* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 2rem 0;
    margin: 0 auto;
    align-items: baseline;
}

ul {
    display: flex;
    align-items: center;
}

a {
    padding: 1.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 12px;
    cursor: pointer;
}

a:hover {
    transition: color 0.3s ease-in-out;
    color:hsl(0, 94%, 66%);
}

ul button {
    background-color: hsl(0, 94%, 66%);
    margin: 1.5rem;
    letter-spacing: 3px;
    padding: 0.7rem 2rem;
}

ul button:hover, .email button:hover {
    background-color: transparent;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color:hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
}

button {
    border-radius: 6px;
    padding: 1rem 1.5rem;
    color: white;
    border: none;
    background-color: hsl(231, 69%, 60%);
    font-weight: 400;
    cursor: pointer;
    border: 2px solid transparent;
}

button:hover {
    background-color: transparent;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color:hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
}

.hero{
    display: flex;
    justify-content: space-between;
}

section {
    max-width: 1280px;
    margin: 4rem auto;
}

.hero svg {
    margin-right: -8rem;
}

.flex-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem 0;
    width: 28rem;
}

h1 {
    font-size: 48px;
}

p {
    color: hsl(229, 8%, 60%);
    line-height: 1.6;
}

.contained {
    background-color: hsl(0, 0%, 93%);
    color: black;
    box-shadow: 0px 5px 5px 2px rgb(233, 233, 233);
}

.contained:hover {
    color: black;
    background-color: transparent;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 2px solid black;
}

.mxr-1 {
    margin-right: 1rem;
}

.shape {
    position: absolute;
    top: 25%;
    right: -10%;
    border-start-start-radius: 175px 175px;
    border-end-start-radius: 175px 175px;
    background-color: hsl(231, 69%, 60%);
    z-index: -2;
    width: 44%;
    height: 75%;
    transform: rotateX(45deg);
}

.selected-tab {
    margin-top: 0;
}

.outer {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.features-tabs {
    display: grid;
    place-items: center;
}

.features-text h2, .features-text p {
    margin-bottom: 1rem;
}

.features-text h2 {
    font-size: 32px;
}

.features-text {
    width: 30rem;
}

.tabs{
    display:inline-flex;
    margin-top: 2.5rem;
}

.tab {
    font-size: 16px;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid hsl(0, 0%, 89%);
    color: hsl(229, 8%, 60%);
    cursor: pointer;
}

.selected-tab svg {
    background-color: #E8EAF6;
}

.tab:hover {
    transition: color 0.3s ease-in-out;
    color:hsl(0, 94%, 66%);
}

.tab.active {
    border-bottom: 4px solid hsl(0, 94%, 66%);
    color: black;
}

.text-center {
    text-align: center;
}

.flex-text h2{
    font-size: 32px;
}

.fit {
    width: fit-content;
}

.shape.inverted {
    left: -10%;
    top: 30%;
    transform: rotate(180deg);
}

.download, .faq {
    display: grid;
    place-items: center;
}


.staggered {
    gap: 2rem;
    display: inline-flex;
}

.staggered > *:nth-child(2) {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.staggered > *:nth-child(3) {
    margin-top: 4rem;
    margin-bottom: -4rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    width: 50%;
}

.card > *:not(p) {
    margin-top: 2rem;
}

.card > button {
    width: fit-content;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

.accordion{
    display: flex;
    flex-direction: column;
}

.accordion, .faq button {
    margin-top: 2rem;
}

.faq button {
    align-self: center;;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 89%);
    border-top: 1px solid hsl(0, 0%, 89%);
    padding: 1.5rem 0;
    cursor: pointer;
}

.row:hover h4 {
    color: hsl(0, 94%, 66%);
}

.row:first-child {
    border-top: 2px solid hsl(0, 0%, 89%);
}

.row:last-child {
    border-bottom: 2px solid hsl(0, 0%, 89%);
}

.row svg {
    transition: transform 0.3s ease-in-out;
}

.row.selected svg {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.row path {
    transition: stroke 0.3s ease-in-out;
}

.row.selected path {
    stroke:hsl(0, 94%, 66%);
    transition: stroke 0.3s ease-in-out;
}

.row.selected {
    border-bottom: none;
}

.email {
    background-color: hsl(231, 69%, 60%);
    color: white;
    max-width: 100%;
    margin: 0;
}

.email .num-joined {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

.email h3 {
    font-size: 32px;
}

.email button {
    background-color: hsl(0, 94%, 66%);
}

.email-form {
    display: flex;
}

.input-container {
    position: relative;
}

input {
    border-radius: 3px;
    border: none;
    height: 3rem;
    padding-left: 1rem;
    margin-right: 1rem;
    position: relative;
    width: 17rem;
}

.email-form svg {
    position: absolute;
    margin-left: 15rem;
    margin-top: 1rem;
    display: none;
    z-index: 1;
}

.container {
    display: grid;
    place-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    width: 100%;
    background-color: hsl(229, 31%, 21%);
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.gap-2 {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.gap-2 svg {
    margin-right: 3rem;
    cursor: pointer;
}

.gap-2 svg:hover path {
    fill: hsl(0, 94%, 66%);
    transition: fill 0.3s ease-in-out;
}

.gap-2 a{
    color: white;
}

.gap-2 a:hover {
    transition: color 0.3s ease-in-out;
    color:hsl(0, 94%, 66%);
}

.hide {
    display: none;
}

.accordion p {
    margin: 1rem 0;
    color: black;
}

.email-form.invalid input {
    border: 2px solid hsl(0, 94%, 66%);
}

.email-form.invalid svg {
    display: block;
}

.email-form.invalid button {
    background-color: white;
    color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
}

.error-text {
    background-color: hsl(0, 94%, 66%);
    position: absolute;
    border-radius: 3px;
    padding: 0.5rem;
    display: none;
    top:3rem;
    width: 17rem;
}

.error-text.show {
    display: block;
}

.error-text p{
    font-style:italic;
    color: white;
    font-size: 12px;
}

@media screen and (max-width:400px){
    h1 {
        font-size: 32px;
    }

    .flex-text {
        text-align: center;
        width: auto;
        gap: 1rem;
        align-items: center;
    }
    .hero .flex-text {
        margin-top: -7rem;
    }
    section {
        padding: 0 2rem;
    }
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
    }
    .hero svg {
        transform: scale(0.5);
        margin-top: -5rem;
        margin-right: 0;
    }
    ul {
        display: none;
    }

    .shape {
        right: -0;
        top: 11%;
        height: 35%;
        width: 80%;
    }
    .in-flex {
        display: inline-flex;
    }
    button {
        padding: 1rem 0.5rem;
    }

    .features {
        text-align: center;
        margin-top: 4rem;
    }

    .features-text {
        width: auto;
    }

    .tabs {
        flex-direction: column;
    }

    .selected-tab .hero {
        margin-top: 2.5rem;
        flex-direction: column;
        gap: 5rem;
    }

    .selected-tab .flex-text {
        margin-bottom: 0;
    }

    .shape.inverted {
        height: 23%;
        top: 12%;
    }

    .download, .faq {
        max-width: 350px;
        margin-bottom: 1rem;
    }

    .staggered {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
    }

    .container {
        max-width: 350px;
    }

    .email-form {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .email-form button, .email-form .input-container, .email-form input{
        width: 100%;
    }

    .email-form svg {
        margin-left: 17rem;
    }

    .error-text {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }

    .gap-2 {
        flex-direction: column;
        align-items: center;
    }
    .gap-2:last-child{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .gap-2 svg {
        margin-right: 0;
    }

}
